
<h1>Ласкаво запрошую)</h1>
<%= render 'site/carousel' %>
<br>
<p>Зазвичай процес отримання фотографічного зображення включає в себе отримання дійсного зображення за допомогою оптичної системи на період експозиції і фіксації цього зображення за допомогою світлочутливої системи у вигляді електронного файлу або на фотоплівці. У випадку фотоплівки отримане зображення зазвичай є негативом, з якого потім отримують позитивне зображення при друкуванні світлин (фотографій) за допомогою фотозбільшувача. Як при отриманні негативу, так і при друкуванні фотографій, зображення спочатку латентне: його необхідно спершу проявити (за допомогою проявника), а потім — зафіксувати. Під час отримання електронної фотографії зображення від оптичної системи оцифровується.

Фотографія широко застосовується на виробництві, в наукових дослідженнях, для офіційних документів і в дозвіллі. Художня фотографія є окремим видом мистецтва. Фотографічний процес лежить в основі створення кіно.</p>

