<div class="page-header">
    <h1>Альбоми<small>    всі альбоми</small></h1>
</div>


    <% @categories.each do |category| %>
      <ul class="list-group">
        <style type="text/css">
            .list-group {
              max-width: 350px;
               }
            </style>

        <li class="list-group-item list-group-item-success"><%= link_to category.name,  category %></li>
        <li class="list-group-item"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>
 
<br>

<%= link_to 'Створити новий', new_category_path %>
